.line-plot {
    fill: none;
    stroke-width: 1.5px;
    stroke: #333;
}

.location-label {
    text-anchor: middle;
    font-size: 20px;
    font-weight: semibold;
    opacity: 0.8;
}

.axis-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: semibold;
}

.grid path,
.grid line {
    stroke: #fff;
}

.background {
    fill: #fafafa;
}

body {
    font-family: "Roboto";
    margin: 0;
}

#main {
    margin: 20px;
}

#menu {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 24rem;
}

svg {
    margin-left: 24rem;
}

h1 {
    padding-top: 1rem;
    margin-left: 25rem;
}

#axis-text {
    font-size: 5px;
}